@media (max-width: 1440px) and (max-height: 1200px) { 
    .weather__forecast {
        margin-top: 13vh;

        &-day, &-descr, &-temp span, &-title {
            font-size: 1.8vh;
        }

        &-img.lg {
            width: 5vw;
        }
    }
}
@media (max-width: 900px) and (max-height: 1200px) { 
    .weather__forecast {
        margin-top: 4vh;

        &-day, &-descr, &-temp span, &-title {
            font-size: 2.5vh;
        }

        &-img.lg {
            width: 10vw;
        }
    }
}

@media (max-width: 900px) and (max-height: 1024px) { 
    .weather__forecast {
        margin-top: 9vh;
    }
}

@media (max-width: 768px) and (max-height: 700px) { 
    .weather__forecast {
        margin-top: 13vh;
        &-day, &-descr, &-temp span, &-title {
            font-size: 2vh;
        }
    }
}

@media (max-width: 600px) and (max-height: 900px) { 
    .weather__forecast {
        &-day, &-descr, &-temp span, &-title {
            font-size: 1.7vh;
        }
    }
}

@media (max-width: 320px) and (max-height: 700px) { 
    .weather__forecast {
        margin-top: 0;
    }
}
