@media (min-width: 768px)  { 
    .weather__today {
        &-item {
            &:nth-child(n+5) {
                display: flex;
            }
            &:nth-child(4):after {
                content: "";
                display: block;
            }
            &.sm:nth-child(4):after {
                content: "";
                display: none;
            }
        }
        &-time, &-time.skeleton,
        &-temp, &-temp.skeleton {
            font-size: clamp(.5em, 3.5vw, 1em);
        }
        &-img {
            width: clamp(3em, 90%, 5em);
            &.skeleton {
                width: 5em;
                height: 5em;
            }
        }
        &-time.sm, &-time.sm.skeleton,
        &-temp.sm, &-temp.sm.skeleton {
            font-size: clamp(.5em, 3.5vw, 1.2em);
        }

        &-title.sm {
            font-size: clamp(.5em, 3.5vw, 1em) ;
        }
    }
}

@media (min-width: 1024px) and (min-height: 400px) { 
    .weather__today {
        &-title.sm {
            font-size: clamp(.5em, 3.5vw, .8em) ;
        }

        &-time, &-time.skeleton,
        &-temp, &-temp.skeleton {
            font-size: clamp(.5em, 3.5vw, .8em);
        }

        &-time.sm, &-time.sm.skeleton,
        &-temp.sm, &-temp.sm.skeleton {
            font-size: clamp(.5em, 3.5vw, .8em);
        }
        &-img {
            width: clamp(2em, 60%, 4em);
            &.skeleton {
                width: 3em;
                height: 3em;
            }
        }
    }
}

@media (min-width: 1024px) and (min-height: 768px) { 
    .weather__today {
        &-title.sm {
            font-size: clamp(.5em, 3.5vw, .9em) ;
        }

        &-time, &-time.skeleton,
        &-temp, &-temp.skeleton {
            font-size: clamp(.5em, 3.5vw, .9em);
        }

        &-time.sm, &-time.sm.skeleton,
        &-temp.sm, &-temp.sm.skeleton {
            font-size: clamp(.5em, 3.5vw, .9em);
        }
        &-img {
            width: clamp(3em, 90%, 4em);
            &.skeleton {
                width: 3em;
                height: 3em;
            }
        }
    }
}

@media (min-width: 1440px)  { 
    .weather__today {
        &-time, &-time.skeleton,
        &-temp, &-temp.skeleton {
            font-size: clamp(.5em, 1.1vw, 3em);
        }
        &-img {
            width: clamp(3em, 90%, 5em);
            &.skeleton {
                width: 5em;
                height: 5em;
            }
        }
    }
}