@import "../../../../../style/variables.scss";

.general {
    &__header {
        margin-top: 1em;
        color: $white;
        font-weight: 500;
        font-size: clamp(1em, 6vw, 1.4em) ;
    }

    &__block {
        margin-top: 1em;
        width: 100%;
        height: 4em;
        background: $space-dark;
        border-radius: 2em;
        padding: clamp(1em, 3vmin, 3em);
    }

    &__wrapper {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-weight: 700;
        font-size: clamp(0.8em, 3vw, .9em) ;
        color: $white;
    }
}

.MuiSwitch-switchBase.Mui-checked {
    color: black;
}

@import "./media.scss";