@import "../../../style/variables.scss";

.cities__wrapper {
    height: 80.6vh;
    display: grid;
    grid-template-columns: 51vw;
    grid-template-rows: 15vh;
    grid-auto-rows: 15vh;
    row-gap: 2.8vh;
    margin-top: 3vh;
    overflow-y:auto;

    &.sm {
        grid-template-columns: 33vw;
    }
}

.empty {
    margin: 30px auto;
    text-align: center;
    font-size: 20px;
    color: $grey;

    span {
        margin-left: 5px;
    }
}