@import "../../../style/variables.scss";

.aside {
    display: flex;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 2.7em;
    padding: .5em; 
    bottom: 0; 
    left: 0;
    justify-content: center;
    background-color: $space-dark;

    &__nav {
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 100%;

        &-list {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }
        &-logo {
            display: none;
        }
        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $white;
            
            a {
                height: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                text-decoration: none;
                justify-content: center;
                align-items: center;
                color: $grey;

                &.active, &.active svg {
                    color: $white;
                    fill: $white;
                }

                svg {
                    fill: $grey;
                    height: 100%;
                    width: 100%;
                }
            }
        }

        &-title {
            display: none;
        }
    }
}

@import "./media.scss";