@import "../../../../../style/variables.scss";

.ad {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3em;
    height: 15em;
    width: 100%;
    color: $grey;
    font-size: clamp(1em, 2.5vw, 1.2em) ;
    border-radius: 2em;
    background-color: $space-dark;
}