.base-grid {
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1em;
    position: relative;

    &-middle {
        display: flex;
        flex-direction: column;
    }

    &-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    &-middle-item {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &-item-filler {
        height: .5em;
    }
}

@import "./media.scss";