@media (min-width: 1024px) {
    .base-grid {
        height: 100vh;
        grid-template-columns: 1fr 10fr 6fr;
        column-gap: 3vw;
        
        &-middle {
            display: flex;
            flex-direction: column;
        }
        
        &-middle-item {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }

        &-item-filler {
            display: none;
        }
    }
}