@media (max-width: 900px) and (max-height: 1200px){
    .base-grid {
        display: grid;
        grid-template-columns: 7fr;
        grid-template-rows: 90vh;
        column-gap: 5vh;
    }
}
// @media (max-width: 900px) {
//     .base-grid {
//         display: grid;
//         grid-template-columns: 7fr 6fr;
//         grid-template-rows: 90vh;
//         column-gap: 5vh;
//     }
// }