@media (min-width: 425px) {
    .weather__forecast {
        &-img {
            width: 4em;

            &.skeleton {
                background-color: #35455E;
                width: 4em;
                height: 4em;
            }
        }
    }
}

@media (min-width: 768px) {
    .weather__forecast {
        &-day, &-day.skeleton,
        &-descr, &-descr.skeleton,
        &-temp, &-temp.skeleton {
            font-size: clamp(0.4em, 4vw, 1em);
        }

        &-day.sm, &-day.sm.skeleton,
        &-descr.sm, &-descr.sm.skeleton,
        &-temp.sm, &-temp.sm.skeleton {
            font-size: clamp(0.4em, 4vw, 1.2em);
        }

        &-title.sm {
            font-size: clamp(0.5em, 3.5vw, 1em);;
        }

        &-img {
            width: 5em;
            &.skeleton {
                background-color: #35455E;
                width: 5em;
                height: 5em;
            }
        }

        &-img.sm {
            width: 6em;
            &.skeleton {
                background-color: #35455E;
                width: 5em;
                height: 5em;
            }
        }
    }
}

@media (min-width: 768px) {
    .weather__forecast {
        &-day, &-day.skeleton,
        &-descr, &-descr.skeleton,
        &-temp, &-temp.skeleton {
            font-size: clamp(0.4em, 4vw, .9em);
        }

        &-img {
            width: 4em;
    
            &.skeleton {
                background-color: #35455E;
                width: 4em;
                height: 4em;
            }
        }
    }
}

@media (min-width: 1440px) {
    .weather__forecast {
        &-day, &-day.skeleton,
        &-descr, &-descr.skeleton,
        &-temp, &-temp.skeleton {
            font-size: clamp(0.4em, 1.2vw, 3em);
        }

        &-img {
            width: 5em;
    
            &.skeleton {
                background-color: #35455E;
                width: 5em;
                height: 5em;
            }
        }
    }
}
