@import "../../../../../style/variables.scss";

.weather__forecast {
    padding: clamp(1em, 3vmin, 3em);
    border-radius: 2em;

    &.lg {
        background: $space-dark;
    }

    &.sm {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }

    &-title {
        font-weight: 700;
        font-size: clamp(.5em, 3.5vw, 0.8em);
        color: $grey;
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
    }

    &-item {
        padding: 0 1em 0 1em;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-top: 1em;

        &:after {
            content: "";
            position: absolute;
            bottom: -.5em;
            left: 50%;
            text-align: center;
            width: 95%;
            transform: translate(-50%, -50%);
            height: 0.1em;
            background: $space-light;
        }

        &:last-child:after {
            content: "";
            display: none;
        }
    }

    &-img {
        width: 2.5em;
        height: auto;

        &.sm {
            width: 3.5em;
        }

        &.skeleton {
            background-color: #35455E;
            width: 2.5em;
            height: 2.5em;
        }
    }

    &-day {
        width: 2em;
        font-weight: 400;
        font-size: clamp(0.4em, 4vw, .8em);
        color: $grey;
        text-align: start;

        &.skeleton {
            background-color: #35455E;
            font-size: clamp(0.4em, 4vw, .8em);
            width: 2em;
        }
    }

    &-descr {
        text-align: center;
        font-weight: 500;
        font-size: clamp(0.4em, 4vw, .8em);
        width: 4em;
        color: $white;

        &.skeleton {
            background-color: $space-light; 
            font-size: clamp(0.4em, 4vw, .8em);
            width: 4em;
        }
    }

    &-temp {
        font-weight: 400;
        font-size: clamp(0.4em, 4vw, .8em);
        color: $white;
        text-align: end;

        &.skeleton {
            background-color: $space-light; 
            font-size: clamp(0.4em, 4vw, .8em);
            width: 2em;
        }

    }
}

@import "./media.scss";