@import "../../../../../style/variables.scss";

.weather__conditions {
    background: $space-dark;
    border-radius: 30px;
    padding: 3vh;

    &-title {
        font-weight: 700;
        font-size: 1.9vh;
        color: $grey;
    }

    &-wrapper {
        display: grid;
        margin-top: 2vh;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        row-gap: 1.5vh;
    }

    &-item {
        display: grid;
        grid-template-columns: 4vw auto;
        grid-template-rows: 3vh auto;

        img {
            height: 100%;
            justify-self: center;
        }
    }

    &-subtitle {
        color: $grey;
        font-weight: 700;
        font-size: 2vh;
        align-self: center;
    }

    &-value {
        font-weight: 700;
        margin-top: 0.5vh;
        font-size: 2.5vh;
        color: $white;
        grid-column: 2;
        grid-row: 2;
    }

}

@import "./media.scss";