@import "../../../style/variables.scss";

.search {
    width: 100%;
    background: $space-dark;
    border-radius: 2em;
    border: none;
    font-weight: 500;
    font-size: .7em;
    padding: 1em;
    color: $dirt;
}