@import "../../../../../style/variables.scss";

.leaflet-popup-content {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.2em;
}
.leaflet-popup-content-wrapper {
    background-color: $space-dark;
    min-width: 10em;
    max-width: auto;
    min-height: 12em;
    

    img {
        width: 3em;
    }
}

.leaflet-popup-tip {
    display: none;
}

.popup__name {
    color: $white;
    font-size: clamp(1.2em, 1.8vw, 1.3em);
    text-align: center;
}

.popup__temp {
    color: $white;
    font-size: clamp(1.2em, 1.8vw, 1.3em);
    text-align: center;
}

a {
    text-decoration: none;
}

.popup__button {

    margin-top: 1.1em;
    padding: 0.7em;
    background: #0095FF;
    border-radius: 2em;
    border: none;
    font-weight: 500;
    font-size: clamp(.9em, 1.8vw, 1.3em);
    color: #DEE0E4;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

@import "./media.scss";
