@import "../../style/variables.scss";

.aside {
    background-color: $space-dark;
    border-radius: 30px;
    width: 100%;

    &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-logo {
            
            margin-top: 1.85vh;
            width: 4vw;
            height: 7vh;
            background: $space-light;
            border-radius: 16px;
            margin-bottom: 10vh;

            img {
                padding: 1vh;
                width: 100%;
                height: 100%;
            }
        }

        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 3.8vh;
            font-weight: 500;
            line-height: 4.5vh;
            color: $white;
            width: 100%;
            
            a {
                text-align: center;
                display: flex;
                flex-direction: column;
                text-decoration: none;
                justify-content: center;
                align-items: center;
                color: $grey;

                &.active, &.active svg {
                    color: $white;
                    fill: $white;
                }

                svg {
                    fill: $grey;
                    height: 4vh;
                    width: 3vw;
                }
            }
        }

        &-title {

            font-size: 1.9vh;
        }
    }
}

@import "./media.scss";