@import "../../../../../style/variables.scss";

.cities__item {
    width: 100%;
    min-height: 100%;
    background: $space-dark;
    border-radius: 2em;
    display: grid;
    grid-template-columns: 3fr 5fr 3fr;
    cursor: grab;
    position: relative;


    &.active {
        background: #0B131E;
        border: 2px solid #0561A5;
    }

    &-name {
        font-weight: 500;
        font-size: clamp(1em, 6vw, 2em);
        color: $white;

        &.skeleton {
            font-size: clamp(1em, 6vw, 4em); 
            background-color: #35455E;
            width: 50%;
        }
    }
    
    &-img {
        height: 6em;
        margin-left: .5em;
        pointer-events: none;

        &.skeleton {
            height: 5em;
            width: 5em;
            margin: auto 0 auto 1.5em;
            background-color: #35455E;
        }
    }

    &-descr {
        display: flex;
        padding-left: 1em;
        flex-direction: column;
        justify-content: center;
    }

    &-time {
        font-weight: 400;
        font-size: clamp(0.5em, 3vw, 1em);
        color: $grey;

        &.skeleton {
            font-size: clamp(0.5em, 3vw, 1em); 
            background-color: #35455E;
            width: 20%;
        }
    }

    &-temp {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 1em;
        font-weight: 700;
        font-size: clamp(0.5em, 5.5vw, 2em);
        color: $white;

        &.skeleton {
            font-size: clamp(0.5em, 5.5vw, 2em);
            background-color: #35455E;
            margin: auto auto;
            width: 2em;
            height: 1em;
        }
    }

    &-delete {
        position: absolute;
        right: 1em;
        top: .8em;
        height: .8em;
        width: .8em;
        cursor: pointer;
        fill: $white;

        &:hover {
            fill: $grey;
        }
    }
}

@import "./media.scss";