@media (min-width: 768px)  {
    .cities__item {
        grid-template-columns: 1.8fr 5fr 3fr;

        &-delete {
            position: absolute;
            right: 1em;
            top: .8em;
            height: 1.3em;
            width: 1.3em;
        }

        &-temp {
            &.sm {
                display: flex;
            }
        }
    }
}

@media (min-width: 1024px) and (min-height: 400px) {
    .cities__item {
        &-name {
            font-size: clamp(1em, 6vw, 1.4em);
        }
        &-img {
            height: 6em;
        
            &.skeleton {
                height: 4em;
                width: 4em;
            }
        }

        &-temp {
            display: none;
            &.sm {
                display: none;
            }
    
            &.skeleton {
                display: none;
            }
        }

    }
}


@media (min-width: 1024px) and (min-height: 768px) {
    .cities__item {
        grid-template-columns: 1.8fr 5fr 3fr;

        &-name {
            font-size: clamp(1em, 6vw, 1.9em);
        }

        &-img {
            height: 6em;
            margin-left: .5em;
            pointer-events: none;
        
            &.skeleton {
                height: 5em;
                width: 5em;
                margin: auto 0 auto 1.5em;
                background-color: #35455E;
            }
        }

        &-name.sm {
            font-size: clamp(1em, 6vw, 1.5em);
        }

        &-temp {
            display: none;
            &.sm {
                display: none;
            }
    
            &.skeleton {
                display: none;
            }
        }
    }
}

