@media (min-width: 1024px) and (min-height: 400px) {
    .cities__wrapper {
        height: 80.5vh;
        grid-template-rows: 6em;
        grid-auto-rows: 6em;
    }
}

@media (min-width: 1024px) and (min-height: 768px) {
    .cities__wrapper {
        height: 83.3vh;
        grid-template-rows: 8em;
        grid-auto-rows: 8em;
    }
}

