@media (max-width: 768px) { 
    .weather__wrapper {
        row-gap: 6.8vh;
    }
}

@media (max-width: 425px) and (max-height: 700px) { 
    .weather__wrapper {
        row-gap: 4vh;
    }
}

@media (max-width: 425px) and (max-height: 900px) { 
    .weather__wrapper {
        row-gap: 4vh;
    }
}

@media (max-width: 320px) and (max-height: 700px) { 
    .weather__wrapper {
        row-gap: 4vh;
    }
}
