.page404__wrapper {
    padding: 2em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    img {
        width: clamp(8em, 30vw, 20em);
        height: auto;
    }
}

.page404__title {
    margin-top: 1em;
    font-weight: 500;
    font-size: clamp(0.5em, 5vw, 1.5em);
    line-height: 2em;
    color: #DEE0E4;
    text-align: center;
}

.page404__button {
    margin-top: 1.1em;
    padding: 1em;
    background: #0095FF;
    border-radius: 2em;
    border: none;
    font-weight: 500;
    font-size: clamp(0.5em, 2vw, 1.5em);
    color: #DEE0E4;
    cursor: pointer;
}